@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rufina');

/* font styling start */
h1 {
    font-family: 'Playfair Display', serif!important;
    font-size: 50pt;
    font-weight: 700;
}
h2 {
    font-family: 'Playfair Display', serif!important;
    font-size: 40pt;
    font-weight: 700;
}
h3 {
    font-family: 'Playfair Display', serif!important;
    font-size: 30pt;
    font-weight: 500;
}
h4, h5, a {
    font-family: 'Playfair Display', serif!important;
    font-size: 15pt;
}
h6 {
    font-family: 'Playfair Display', serif!important;
    font-size: 10pt;
}
body, p {
    font-family: 'Rufina', sans-serif!important;
    font-size: 14pt;
}
/* font styling end */

/* nav bar styling start */
.navright {
    text-align: right;
    list-style-position: inside;
}
#logo {
    max-height: 15vh;
}
#heathergrey-bg {
    padding: 20px;
    background-color: #b0abb0;
}
a:hover {
    text-decoration: underline;
}
/* nav bar styling end */

/* footer styling start */
.fa {
    color: #ffffff;
}
.fa:hover {
    color: #ff2400;
}
#footer-text {
    color: #ffffff;
}
#footer-align {
    text-align: center;
    display: inline-block;
}
/* footer styling end */

/* mobile styles start */
@media (max-width: 768px) {     
    .navbar-nav {
       margin-top: 10px;
       text-align: center; 
       /* Center-align text in the navigation bar */
    }
 
    .navbar-toggler {
       margin: 10px; 
       /* Adjust spacing for the mobile toggle button */
    }
 
    #footer-text {
       font-size: 16px;
    }
}
/* mobile styles end */

/* news start */
.news {
    margin: 2%;
    padding: 1rem;
    background: aquamarine;
    width: 28%;
    float: left;
}
.img-contain {
    max-width: 100%;    
    height: auto;
    border-radius: 15px;
    justify-content: center;
}
.grey-bg {
    background-color: #e3e3e3;
}
.rounded {
    border-radius: 25px !important;
}
.center-update {
    align-items: center;
    text-align: center;
}
#update {
    background-color: #ff2400;
    margin-bottom: 15px;
}
#update:hover {
  background-color: #FDB0C0;
  color: black;
  text-decoration: none;
}
/* news end */