@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rufina');

/* font styling start */
h1 {
    font-family: 'Playfair Display', serif!important;
    font-size: 50pt;
    font-weight: 700;
}
h2 {
    font-family: 'Playfair Display', serif!important;
    font-size: 40pt;
    font-weight: 700;
}
h3 {
    font-family: 'Playfair Display', serif!important;
    font-size: 30pt;
    font-weight: 500;
}
h4, a {
    font-family: 'Playfair Display', serif!important;
    font-size: 15pt;
}
body, p {
    font-family: 'Rufina', sans-serif!important;
    font-size: 14pt;
}
/* font styling end */

/* nav bar styling start */
.navright {
    text-align: right;
    list-style-position: inside;
}
#logo {
    max-height: 15vh;
}
.heathergrey-bg {
    padding: 20px;
    background-color: #b0abb0;
}
a:hover {
    text-decoration: underline;
}
/* nav bar styling end */

/* footer styling start */
.fa {
    color: #ffffff;
}
.fa:hover {
    color: #ff2400;
}
#footer-text {
    color: #ffffff;
}
#footer-align {
    text-align: center;
    display: inline-block;
}
/* footer styling end */

/* mobile styles start */
@media (max-width: 768px) {     
    .navbar-nav {
       margin-top: 10px;
       text-align: center; 
       /* Center-align text in the navigation bar */
    }
 
    .navbar-toggler {
       margin: 10px; 
       /* Adjust spacing for the mobile toggle button */
    }
 
    #footer-text {
       font-size: 16px;
    }
}
/* mobile styles end */

/* updates styling start */
.grey-bg {
    background-color: #e3e3e3;
}
.darkgrey-bg {
    background-color: #b0abb0;
    margin-bottom: 30px;
}
.red-bg {
    background-color: #ff2400;
    margin-bottom: 30px;
}
#form-button:hover,
#form-button:focus {
  background-color: #FDB0C0;
  color: black;
}
/* updates styling end */
